<!-- <!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
    	<title>tomfriwel</title>
		<link rel="stylesheet" href="./css/index.css" type="text/css" />
	</head>
	<body>
        <div class="test">tomfriwel</div>
	</body>
</html> -->
<!-- {% include head.html %}
{% include footer.html %} -->
<picture>
	<source srcset="https://github-readme-stats.vercel.app/api?username=tomfriwel"
		media="(prefers-color-scheme: dark)" />
	<source srcset="https://github-readme-stats.vercel.app/api?username=tomfriwel"
		media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
	<img src="https://github-readme-stats.vercel.app/api?username=tomfriwel" />
</picture>